@model GitCrudMVC.Models.StudentRegModal
@{
    ViewData["Title"] = "Delete";
}

<div class="container py-5">
    <h1 class="text-center mb-4">Delete Student</h1>

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Are you sure you want to delete this?</h4>
    </div>

    <div class="card">
        <div class="card-header">
            Student Details
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.c_studname)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.c_studname)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.c_studemail)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.c_studemail)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.c_studmobile)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.c_studmobile)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.c_studaddress)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.c_studaddress)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.c_studcourse_id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.c_studcourse_id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.c_studgender)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.c_studgender)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.c_studpassword)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.c_studpassword)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.c_studlanguages)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.c_studlanguages)
                </dd>
            </dl>
        </div>
    </div>

    <form asp-action="Delete" class="mt-4">
        <input type="hidden" asp-for="c_studid" />
        <div class="d-flex justify-content-between">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>