@* @model IEnumerable<SRS.Models.StudentRegModal> *@

<div class="container py-5">
    <h2 class="text-center mb-4">Students Registration Page</h2>

    <div class="d-flex justify-content-end mb-3">
        <a asp-action="Create" class="btn btn-success">Create New Student</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Mobile</th>
                    <th>Address</th>
                    <th>Course ID</th>
                    <th>Languages</th>
                    <th>Photo</th>
                    <th>Document</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.c_studid</td>
                        <td>@user.c_studname</td>
                        <td>@user.c_studdob.ToShortDateString()</td>
                        <td>@user.c_studemail</td>
                        <td>@user.c_studgender</td>
                        <td>@user.c_studmobile</td>
                        <td>@user.c_studaddress</td>
                        <td>@user.c_studcourse_id</td>
                        <td>@string.Join(", ", user.c_studlanguages)</td>
                        <td>
                            <img src="@Url.Action("GetPhoto", "Student", new { id = user.c_studid })" alt="Student Photo" class="img-thumbnail" width="100" />
                        </td>
                        <td>
                            <a href="@Url.Action("GetDocument", "Student", new { id = user.c_studid })" download class="btn btn-link">Download Document</a>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-action="Edit" asp-route-id="@user.c_studid" class="btn btn-primary btn-sm">Edit</a>
                                <a asp-action="Delete" asp-route-id="@user.c_studid" class="btn btn-danger btn-sm">Delete</a>
                                <a asp-action="Details" asp-route-id="@user.c_studid" class="btn btn-info btn-sm">Details</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>